* {
  margin: 0;
  padding: 0;

  font-family: roboto;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

body {
  background: #e5e5e5;
}

.sayt {
  overflow: hidden;
  max-width: 1440px;
  width: 100%;
  margin: auto;
  background: #ffffff;
  & > .header {
    background: #f3d7b7;
    & > .header__top {
      max-width: 1340px;
      width: 95%;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding-top: 5px;
      & > .header__icon {
        margin: 20px;
      }
      & > ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        & > li {
          padding: 10px;
          margin: 10px;
          list-style: none;
          border-radius: 5px;
          & > a {
            text-decoration: none;
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            /* identical to box height */
            line-height: 14px;
            letter-spacing: 1px;
            text-transform: uppercase;

            color: #333333;
          }
          & > a:hover {
            text-shadow: 0px 0px 15px;
          }
        }
      }
    }
    & > .header__bottom {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      & > .header__bottom__text {
        max-width: 590px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        padding-left: 10%;

        & > h2 {
          font-style: normal;
          font-weight: 700;
          font-size: 64px;
          line-height: 75px;
          max-width: 447px;
          color: #000000;
        }

        & > p {
          margin-top: 24px;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          /* or 150% */
          max-width: 447px;
          color: #000000;

          mix-blend-mode: normal;
          margin-bottom: 34px;
        }

        & > button {
          width: 193px;
          height: 51px;
          border: none;
          background: #0a775f;
          border-radius: 100px;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          /* identical to box height */

          text-align: center;
          letter-spacing: 1px;
          font-variant: small-caps;

          color: #ffffff;
        }
      }
      & > .header__bottom__img {
        position: relative;

        & > :nth-child(1) {
          max-width: 710px;
          width: 100%;
        }

        & > :nth-child(2) {
          position: absolute;
          top: -80px;
          left: -80px;
        }
      }
    }
  }
  & > .collection {
    background: #f8f8f2;
    margin: 20px;
    padding-top: 50px;
    position: relative;

    & > h2 {
      font-style: normal;
      font-weight: 700;
      font-size: 50px;
      line-height: 59px;
      /* identical to box height */

      text-align: center;
      font-variant: small-caps;
      margin-bottom: 80px;
      color: #000000;
    }
    & > .collection__block {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;

      & > img {
        max-width: 450px;
      }
      & > div {
        margin: 20px;

        & > h3 {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 500;
          font-size: 48px;
          line-height: 56px;
          font-variant: small-caps;

          color: #333333;
        }
        & > p {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 22px;
          line-height: 34px;
          /* or 155% */

          color: #333333;
          max-width: 390px;
          margin-top: 10px;
        }
      }
    }
    & > :nth-child(3) {
      flex-direction: row-reverse;
    }
    & > :nth-child(5) {
      flex-direction: row-reverse;
    }

    .yaproq1 {
      max-width: 18%;
      position: absolute;
      top: 1%;
      left: -20px;
    }

    .yaproq2 {
      max-width: 18%;
      position: absolute;
      top: 35%;
      right: -20px;
      z-index: 2;
    }
    .yaproq3 {
      max-width: 8%;
      position: absolute;
      top: 47%;
      z-index: 1;
      right: -20px;
    }

    .yaproq4 {
      max-width: 12%;
      position: absolute;
      bottom: 10%;
      left: -20px;
    }
  }
  & > .choose {
    background: repeating-linear-gradient(#c2905b 0% 72%, white 72% 100%);

    max-width: 1400px;
    width: 98%;
    margin: auto;
    padding-top: 50px;
    & > h2 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 50px;
      line-height: 59px;
      /* identical to box height */

      text-align: center;
      font-variant: small-caps;

      color: #ffffff;
    }
    & > p {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      /* or 175% */
      margin-top: 10px;
      text-align: center;
      max-width: 581px;
      width: 95%;
      margin: auto;

      color: #ffffff;
    }

    & > .choose__block {
      padding-top: 50px;
      padding-bottom: 70px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      & > .choose__block__card {
        max-width: 433px;
        width: 100%;
        margin: 10px;
        position: relative;
        margin-top: 30px;
        & > :nth-child(1) {
          max-width: 433px;
          width: 100%;
        }

        & > h3 {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 500;
          font-size: 30px;
          line-height: 35px;
          font-variant: small-caps;
          margin-top: 28px;
          color: #333333;
        }
        & > p {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 28px;
          /* or 156% */

          color: #333333;
          margin-top: 10px;
        }

        & > .yozuv {
          position: absolute;
          left: -40px;
          top: -40px;
        }
      }
    }
  }
  & > .works {
    max-width: 1400px;
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
    background: #0a775f;
    padding-top: 50px;
    padding-bottom: 50px;

    & > h2 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 50px;
      line-height: 59px;
      /* identical to box height */

      text-align: center;
      font-variant: small-caps;
      margin-bottom: 70px;
      color: #ffffff;
    }

    & > .works__block {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      & > .works__block__card {
        max-width: 433px;
        width: 100%;
        margin: 10px;

        position: relative;

        & > .chiziqli {
          display: flex;
          align-items: center;
          & > :nth-child(1) {
            width: 60px;
            height: 60px;

            background: #f8f8f2;
            border: 4px solid #c99b67;
          }
          & > :nth-child(2) {
            height: 2px;
            max-width: 370px;
            width: 100%;
            border-top: 7px dashed #c99b67;
          }
        }

        & > .works__block__card__text {
        
          background: #f8f8f2;
          box-sizing: border-box;
          padding: 20px;
          padding-bottom: 40px;
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          & > h2 {
            align-self: flex-end;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            font-size: 64px;
            line-height: 75px;
            /* identical to box height */

            font-variant: small-caps;

            color: #333333;

            opacity: 0.8;
          }
          & > h3 {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            line-height: 47px;
            font-variant: small-caps;
            margin-top: 45px;
            margin-bottom: 10px;
            color: #333333;
            width: 231px;
          }
          & > p {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            /* or 156% */

            color: #333333;
          }
        }

        & > :nth-child(3) {
          position: absolute;
          top: -160px;
          right: 35px;
        }
      }
    }
    & > button {
      width: 193px;
      height: 51px;
      background: #c99b67;
      border-radius: 100px;
      display: block;
      margin: auto;
      margin-top: 50px;
      border: none;

      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      /* identical to box height */

      text-align: center;
      letter-spacing: 1px;
      font-variant: small-caps;

      color: #ffffff;
    }
  }

  & > .commitment {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 140px;
    padding-bottom: 216px;
    position: relative;
    opacity: 1;

    margin: 20px;
    background: #f8f8f2;

    & > :nth-child(1) {
      max-width: 360px;
      width: 90%;
    }
    & > :nth-child(2) {
      max-width: 626px;
      width: 100%;
      margin: 20px;
    }

    & > :nth-child(3) {
      max-width: 12%;
      position: absolute;
      left: -20px;
      top: 10%;
    }
  }

  & > .quality {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #c99b67;
    padding-top: 60px;
    padding-bottom: 78px;
    margin: 20px;
    margin-top: 140px;

    & > .quality__card {
      max-width: 640px;
      width: 100%;
      margin: 38px;
      & > h2 {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 59px;
        font-variant: small-caps;

        color: #ffffff;
      }
      & > p {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        /* or 167% */

        color: #ffffff;

        mix-blend-mode: normal;
        opacity: 0.8;
      }
    }

    & > img {
      max-width: 500px;
      width: 100%;
      margin-top: -140px;
      opacity: 2;
    }
  }
  & > .country {
    margin: 20px;
    margin-bottom: 50px;
    margin-top: 0;
    padding-top: 50px;
    padding-bottom: 90px;
    background: #0a775f;

    & > h2 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 50px;
      line-height: 59px;
      /* identical to box height */

      text-align: center;
      font-variant: small-caps;

      color: #ffffff;
      margin-bottom: 70px;
    }

    & > .country__block {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      & > .country__block__card {
        background: #f8f8f2;
        margin: 10px;
        max-width: 433px;
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
        padding-bottom: 40px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        & > img {
          align-self: flex-end;
          margin-right: 35px;
          margin-top: 25px;
        }

        & > h2 {
          max-width: 230px;
          font-family: "Roboto";
          font-style: normal;
          font-weight: 500;
          font-size: 40px;
          line-height: 47px;
          font-variant: small-caps;

          color: #333333;
        }
        & > p {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;

          /* or 156% */

          color: #333333;
        }
      }

      & > :nth-child(1) {
        & > h2 {
          margin-top: -60px;
        }
      }
    }
  }

  & > .plan__top {
    margin: 20px;

    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #0a775f;
    & > .works__block {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      & > .works__block__card {
        max-width: 433px;
        width: 100%;
        margin: 10px;

        position: relative;

        & > .chiziqli {
          display: flex;
          align-items: center;
          & > :nth-child(1) {
            width: 60px;
            height: 60px;

            background: #f8f8f2;
            border: 4px solid #c99b67;
          }
          & > :nth-child(2) {
            height: 2px;
            max-width: 370px;
            width: 100%;
            border-top: 7px dashed #c99b67;
          }
        }

        & > .works__block__card__text {
      
          background: #f8f8f2;
          box-sizing: border-box;
          padding: 20px;
          padding-bottom: 40px;
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          & > h2 {
            align-self: flex-end;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            font-size: 64px;
            line-height: 75px;
            /* identical to box height */

            font-variant: small-caps;

            color: #333333;

            opacity: 0.8;
          }
          & > h3 {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            line-height: 47px;
            font-variant: small-caps;
            margin-top: 45px;
            margin-bottom: 10px;
            color: #333333;
            width: 231px;
          }
          & > p {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            /* or 156% */

            color: #333333;
          }
        }

        & > :nth-child(3) {
          position: absolute;
          top: -160px;
          right: 35px;
        }
      }
    }
  }

  & > .plan__bottom {
    margin: 20px;
    margin-top: 0;
    background: #f8f8f2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 10%;
    position: relative;

    & > .plan__bottom__nav {
      display: flex;
      flex-direction: column;
      margin-left: 30px;
      margin-top: 50px;

      & > a {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 33px;
        /* identical to box height */
        padding-bottom: 5px;
        font-variant: small-caps;
        text-decoration: none;
        margin-bottom: 35px;
        color: #555555;
        border-bottom: 3px dashed transparent;
      }
      & > a:hover {
        color: #000000;
        border-color: #c99b67;
      }
    }

    & > .plan__bottom__dropdowns {
      max-width: 700px;
      width: 100%;

      display: flex;
      flex-direction: column;
      & > .dropdown {
        margin: 10px;
        margin-top: 50px;
        margin-bottom: 10px;

        & > .dropdown__head {
          display: flex;
          justify-content: space-between;
          align-items: center;

          & > h2 {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 47px;
            /* identical to box height */

            font-variant: small-caps;

            color: #000000;
          }

          & > i {
            font-size: 30px;
            margin-right: 24px;
          }
        }

        & > .dropdown__body {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;

          & > .dropdown__body__card {
            width: 208px;
            height: 220px;
            box-sizing: border-box;
            padding-left: 16px;
            padding-top: 30px;
            margin-top: 20px;

            background: #c6dcd1;

            & > h3 {
              font-family: "Roboto";
              font-style: normal;
              font-weight: 500;
              font-size: 24px;
              line-height: 28px;
              font-variant: small-caps;

              color: #333333;
            }
            & > p {
              font-family: "Roboto";
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 24px;
              /* or 133% */
              margin-top: 10px;
              margin-right: 12px;
              color: #333333;
            }
          }

          & > .yashil {
            background: #0a775f;
            & > h3 {
              color: #ffffff;
            }
            & > p {
              margin-top: 10px;
              color: #ffffff;
            }
          }
        }
      }
      & > .order {
        max-width: 640px;
        width: 95%;
        background: #c99b67;
        margin: auto;
        margin-top: 90px;
        padding: 20px;
        padding-top: 40px;
        padding-bottom: 40px;

        & > h3 {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          /* identical to box height */

          text-transform: uppercase;

          color: #ffffff;
        }

        & > p {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 34px;
          /* or 142% */

          color: #ffffff;
          margin-top: 14px;

          & > font {
            color: #333333;
          }
        }
      }

      & > button {
        width: 175px;
        height: 51px;
        background: #0a775f;
        border-radius: 100px;
        border: none;
        align-self: flex-end;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */

        text-align: center;
        letter-spacing: 1px;
        font-variant: small-caps;

        color: #ffffff;
        margin: 20px;
      }
    }

    & > :nth-child(3) {
      right: -20px;
      top: 166px;
      width: 10%;
      opacity: 5;
    }

    & > :nth-child(4) {
      right: -20px;
      top: 176px;
      width: 10%;
      opacity: 4;
    }

    & > :nth-child(5) {
      left: -20px;
      top: 714px;
      width: 10%;
      opacity: 4;
    }
    & > :nth-child(6) {
      left: -20px;
      top: 1466px;
      width: 5%;
      opacity: 4;
    }

    & > img {
      position: absolute;
      width: 18%;
    }
  }

  & > .footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f3d7b7;

    & > ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      & > li {
        padding: 10px;
        margin: 10px;
        list-style: none;
        border-radius: 5px;
        & > a {
          text-decoration: none;
          font-family: "Roboto";
          font-style: normal;
          font-weight: 700;
          font-size: 12px;
          /* identical to box height */
          line-height: 14px;
          letter-spacing: 1px;
          text-transform: uppercase;

          color: #333333;
        }
        & > a:hover {
          text-shadow: 0px 0px 15px;
        }
      }
    }
    & > .footer__websites {
      & > a {
        margin: 15px;
        & > i {
          font-size: 30px;
          color: #333333;
        }

        & > i:hover {
          text-shadow: 0 0 10px #0a775f;
        }
      }
    }
  }
}
